body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #EEF2F0;
  color: #282828;
}

a {
  color: #63BDB5;
  text-decoration: none;
  margin: 0 10px;
}

a:hover {
  text-decoration: underline;
}
